.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane .scroll-bar .increment-button {
  visibility: hidden;
}
.scroll-pane .scroll-bar .decrement-button {
  visibility: hidden;
}
.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .track-background {
  visibility: hidden;
}
.scroll-pane .scroll-bar:vertical .track {
  visibility: hidden;
}
.scroll-pane .hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.tree-view {
    -fx-background-color:transparent;

}
.tree-cell {
    -fx-background-color:rgba(0, 0, 0, 0.5);
    -fx-text-fill: #ffffff;
    -fx-font-size:24;
    -fx-wrap-text: true;
}
.tree-cell:selected{
    -fx-background-color:rgba(255, 255, 255, 0.2);
        -fx-text-fill: #ffffff;
        -fx-font-size:24;
        -fx-wrap-text: true;
}
.tree-cell .label {
    -fx-wrap-text: true;
}
.color-picker .color-picker-label{
-fx-background-color: rgba(0,0,0,0);
-fx-scale-x: 1.53;
-fx-scale-y: 1.53;
-fx-spacing: 0;
-fx-padding: 3;
-fx-border-width: 0;
-fx-text-fill: white;
 -fx-border-radius: 5;
}
.color-palette {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
}

.color-picker {
-fx-background-color: rgba(0,0,0,0.1);
-fx-border-radius:5;
}
.color-picker.picker-color{
-fx-scale-x: 2;
-fx-scale-y: 2;
-fx-background-color: blue;
}
.combo-box-popup{
-fx-background-color: blue;
}


.tree-cell. label{
        -fx-wrap-text: true;
}
.tree-view .scroll-pane {
  -fx-background-color: transparent;
}

.tree-view .scroll-bar .increment-button {
  visibility: hidden;
}

.tree-view .scroll-bar .decrement-button {
  visibility: hidden;
}

.tree-view .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.tree-view .scroll-bar:vertical .track-background {
  visibility: hidden;
}

.tree-view .scroll-bar:vertical .track {
  visibility: hidden;
}

.tree-view .hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}

.tree-view .scroll-bar:horizontal .increment-arrow,
.tree-view .scroll-bar:horizontal .decrement-arrow,
.tree-view .scroll-bar:horizontal .increment-button,
.tree-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.progress-bar .track {
     -fx-background-color: rgba(0, 0, 0, 0.25);
}
.progress-bar .bar {
     -fx-background-color: rgba(255, 255, 255, 1);
}

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
}
.chart-content {
    -fx-text-fill: #000000;
    -fx-padding: 30px;
    -fx-background-color: transparent;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
   -fx-text-fill: #000000;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis-label {
    -fx-text-fill: #000000;
}
.axis {
    -fx-tick-label-fill: #ffffff;
}
.default-color0.chart-series-line { -fx-stroke: #0000ff; }
.default-color1.chart-series-line { -fx-stroke: #0000ff; }
.default-color2.chart-series-line { -fx-stroke: #0000ff; }
.default-color0.chart-line-symbol { -fx-background-color: #ffffff, white; }
