<?xml version="1.0" encoding="UTF-8" standalone="no"?><Settings><DataModel id="0"><curWallpaperNo>5</curWallpaperNo><curDockNo>8</curDockNo><curFrameNo>3</curFrameNo><curFontNo>3</curFontNo><curAnimSpeed>150</curAnimSpeed><curObdUpdate>3</curObdUpdate><clockWvisible>true</clockWvisible><gpsWvisible>false</gpsWvisible><myKeyboard>false</myKeyboard><logoOnScreen>false</logoOnScreen><sensorsOnScreen>false</sensorsOnScreen><sensorsColorInd>false</sensorsColorInd><sensorsAlarmNo>5</sensorsAlarmNo><lifelineOn>false</lifelineOn><waveformOn>true</waveformOn><curBCbrightness>10</curBCbrightness><curBCcontrast>10</curBCcontrast><curBCsaturation>0</curBCsaturation><curBChue>10</curBChue><curBCgamma>10</curBCgamma><curBCdeinterlace>true</curBCdeinterlace><curBCbwMode>false</curBCbwMode></DataModel></Settings>